export ACCOUNT_ADDRESS=""  # Your account address
export PRIVATE_KEY="" # Your private key (required for signing transactions)
export CELO_RPC_URL="https://forno.celo.org"  # Optional
export ORACLE_URL="https://api.updown.ai/prices/"
export SUBSQUID_URL="https://graph.updown.ai/celo/subgraphs"  # Optional
MARKET_ADDRESS='0x38995e0D3c25EE78D45A45A1311A2CA0544b0E6B'
PAY_TOKEN_ADDRESS='0xd96a1ac57a180a3819633bCE3dC602Bd8972f595'
COLLATERAL_TOKEN_ADDRESS='0xd96a1ac57a180a3819633bCE3dC602Bd8972f595'
PAY_AMOUNT="2"
OPERATION_TYPE="open"
SIZE_AMOUNT="4"



