ACCOUNT_ADDRESS=""  # Your wallet account address
PRIVATE_KEY="" # Your private key (required for signing transactions)
CELO_RPC_URL="https://forno.celo.org"  # Optional
ORACLE_URL="https://api.updown.ai/prices/"
SUBSQUID_URL="https://graph.updown.ai/celo/subgraphs"  # Optional
MARKET_ADDRESS='0x38995e0D3c25EE78D45A45A1311A2CA0544b0E6B'

## Position Operations
# PAY_TOKEN_ADDRESS='0xd96a1ac57a180a3819633bCE3dC602Bd8972f595'
# COLLATERAL_TOKEN_ADDRESS='0xd96a1ac57a180a3819633bCE3dC602Bd8972f595'
# PAY_AMOUNT="2"
# OPERATION_TYPE="stopLoss"
# IS_LONG=false
# SIZE_AMOUNT="4"
# #Limit Order
# TRIGGER_PRICE =1.15

## Poll operations: deposit/withdraw liquidity 
OPERATION_TYPE="withdraw"
LONG_TOKEN_AMOUNT="0.5"
SHORT_TOKEN_AMOUNT="0.01"
MARKET_TOKEN_AMOUNT="0.6"


